.logo {
    width: 300px;
    height: auto;
}


.page_title.small {
	position: relative;
	background: url(../image/resources/bg-header.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: repeat;
	min-height: 30px;
}

.gene_list{
	max-height: 420px;
}


.index_right_area{
	padding-top: 11rem!important
}

 .symptoms_checker {
	 background-color: #e6e6e6;
 }
 .handwash.type_two {
	 background-color: #ffe0e0;
 }

 .symptoms_result_box .lower_box {
    background-color: white;
}

.handwash .heading h2{
	color:black;
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;

}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.list-group-flush .list-group-item:first-child{
    font-size: 12px;
}