.zoom-ust{
font-family: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
}

.zoom{
        transform: scale(1);
    margin-top: 75px;
}

.logo {
    width: 300px;
    height: auto;
}

.mycontent-left {
  border-right: 1px dashed #333;
}


.page_title.small {
	position: relative;
	background-position: center center;
	background-size: cover;
	background-repeat: repeat;
	min-height: 30px;
}

.gene_list{
	max-height: 420px;
}


.index_right_area{
	padding-top: 11rem!important
}

 .symptoms_checker {

 }
 .handwash.type_two {
	 background-color: #e6e6e6;
 }

 .symptoms_result_box .lower_box {
    background-color: white;
}

.handwash .heading h2{
	color:black;
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;

}




.list-group-flush .list-group-item:first-child{
    font-size: 12px;
    height: 60px;
}



 .theme_btn.tp_three {
    font-size: 14px;
    position: relative;
    color: #ffffff;
    background: #dd2d4e;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    box-shadow: none;
    min-width: 240px;
    border: 0px!important;
    padding: 0px 10px;
 }

 .theme_btn.tp_three span {
	 font-size: 21px;
	 position: relative;
	 line-height: 36px;
	 display: inline-block;
	 vertical-align: middle;
	 line-height: normal;
	 margin-top: -2px;
	 margin-right: 9px;
 }

 .theme_btn.tp_three:hover {
	 color: #fff;
	 background: #274782;
 }




