{% load static %}
{% include 'header.html' %}

<main class="main-content">
    <!------main-content------>
    <!-------slider--section------>
    <section class="banner type_two" style="background:url('{% static "assets/image/bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 d-flex  pr_0">
                    <div class="" style="">
                        <div class="inner_box">
                            <h5 class="wow slideInLeft " data-wow-delay="000ms" data-wow-duration="000ms">Analyze Data
                                From Database</h5>
                        </div>
                        <div class="symptoms_checker_form type_one wow fadeInLeft" data-wow-delay="0ms"
                             data-wow-duration="000ms">


                            <ul class="list-group pdb_20 pdt_50">{% for i in networks %}
                                <li class="list-group-item">
                                    <a class=""
                                       href="network/{{ i.diff_coexp.id|safe }}/0">{{ i.diff_coexp.input_excel|safe }}</a>
                                    | H.Sample: {{ i.diff_coexp.healthy_sample }}
                                    | D.Sample: {{ i.diff_coexp.disease_sample }}
                                    | H.Pcritic: {{ i.diff_coexp.healthy_pcritic }}
                                    | D.Pcritic: {{ i.diff_coexp.healthy_pcritic }}
                                    | {{ i.diff_coexp.timestamp }}
                                </li>
                            {% endfor %}
                            </ul>


                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="image_box wow slideInDown" data-wow-delay="000ms" data-wow-duration="000ms">


                        {% if form.errors %}


                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p> {{ field.name }} : {{ error }} </p>
                                {% endfor %}
                            {% endfor %}


                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </section>


{% include 'footer.html' %}