{% load static %}

         <!-----------newsletter--------------->
         <section class="newsletter type_one pdt_80  pdb_40">
            <div class="container">
               <div class="row">
                  <!---------row----------->
                  <div class="col-lg-6 col-md-12">
                     <!---------col----------->
                     <div class="heading white  tp_one">
                        <h1>Subscribe our newsletter </h1>
                        <p> Join our subscribers list to get latest news and updates about DCNA web tool<br class="md_display_none"> delivered directly in your inbox.</p>
                     </div>
                     <!---------col-end---------->
                  </div>
                  <div class="col-lg-6 col-md-12">
                     <!---------col----------->
                     <div class="subscribe_box tp_one">
                        <form>
                           <div class="form_group">
                              <input type="text" placeholder="Type here your email...">
                              <button class="search_btn" type="submit">Subscribe</button>
                           </div>

                        </form>
                     </div>
                     <!---------col-end---------->
                  </div>
                  <!----------row-end---------->
               </div>
            </div>
         </section>
         <!-----------newsletter-end-------------->

         <!-----------footerlast UNWELL?--------------->
         <section class="footerlast type_two  pdb_40 pdt_50">
            <div class="container">
               <div class="row">
                  <!---------row----------->
                  <div class="col-lg-8 col-md-12">
                     <!---------col----------->
                  <p>Copyright © 2020 | DCNA - Differential Co-Expression Network Analyze</p>
                     <!---------col-end---------->
                  </div>
                  <div class="col-lg-4 col-md-12 text-right">
                     <!---------col----------->
                     <p>Developed with <span class="linearicons-heart"></span> and <span class="linearicons-teacup"></span></p>
                     <!---------col-end---------->
                  </div>
                  <!----------row-end---------->
               </div>
            </div>
         </section>
         <!-----------footerlast-end-------------->
         <!------main-content-end----->
      </main>
      <!--page_wapper-end---->
   </div>
   <!--Scroll to top-->
   <a href="# " id="scroll" class="default-bg " style="display: inline;"><span class="fa fa-angle-up "></span></a>
   <!---------mbile-navbar----->
   <div class="bsnav-mobile ">
      <div class="bsnav-mobile-overlay"></div>
      <div class="navbar ">
         <button class="navbar-toggler toggler-spring mobile-toggler"><span class="linearicons-cross close_arrow"></span></button>
         <div class="search_form">
            <form>
               <div class="form-group">
                  <input type="text" name="search" placeholder="Search..." />
                  <button class="serach_btn" type="submit"><i class="linearicons-magnifier search_icon"></i></button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <!---------mbile-navbar----->
   <!-- /.side-menu__block -->
   <div class="side-menu__block">
      <div class="side-menu__block-overlay custom-cursor__overlay">
         <div class="cursor"></div>
         <div class="cursor-follower"></div>
      </div>
      <!-- /.side-menu__block-overlay -->
      <div class="side-menu__block-inner">
         <div class="row ">
            <div class="col-lg-12 ">
               <div class="side-menu__block-contact ">
                  <span class="side_menu_close linearicons-cross close_arrow"> </span>
                  <h2>Get in touch</h2>
                  <p>  If you have any question before we start, please fill below  the contact form.</p>
                  <div class="form_outer">
                     <form>
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="from_group">
                                 <input type="text" name="name" placeholder="Your Name" />
                                 <small class="linearicons-user"></small>
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="from_group">
                                 <input type="email" name="email" placeholder="Your Email Address" />
                                 <small class="linearicons-envelope-open"></small>
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="from_group text-area">
                                 <textarea rows="5" placeholder="Your Message..."></textarea>
                                 <small class="linearicons-pencil4"></small>
                              </div>
                           </div>
                           <div class="col-lg-5">
                              <div class="from_group">
                                 <button class="submit_btn" type="submit">Submit</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>

                         </div>
         </div>
         <!-- /.side-menu__block-inner -->
      </div>
   </div>
   <!-- /.side-menu__block -->
   <!-----------------------------------script--------------------------->
   <script src="{% static 'assets/js/all.js' %}"></script>
   <script src="{% static 'assets/js/bootstrap-notify.min.js' %}"></script>
   <script src="{% static 'assets/js/custom.js' %}"></script>

      <!-----------------------------------script-------------------
      <script src="assets/js/jquery.js "></script>
      <script src="assets/js/popper.min.js "></script>
      <script src="assets/js/bootstrap.min.js "></script>
      <script src="assets/js/bsnav.min.js "></script>
      <script src="assets/js/jquery-ui.js "></script>
      <script src="assets/js/wow.js "></script>
      <script src="assets/js/owl.js "></script>
      <script src="assets/js/jquery.fancybox.js "></script>
      <script src="assets/js/TweenMax.min.js "></script>
      <script src="assets/js/appear.js "></script>
      <script src="assets/js/moment.js "></script>
      <script src="assets/js/odometer.min.js "></script>
      <script src="assets/js/pagenav.js "></script>
      <script src="assets/js/custom.js "></script>------------------->
   </body>

   </html>
