{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <!-- Responsive -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <title>DCNA: Differential Co-Expression Network Analyze</title>
   <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">


</head>
<body class="scroll_bar_style_one">
   <div class="page_wapper">
      <!--page_wapper-->


      <!--Start Preloader-->
      <div class="preloader">
         <div class="preloader_box">
            <div class="loader">

               <div class="spinner-border img-fluid" style="width: 3rem; height: 3rem; margin-bottom: 15px;" role="status"></div>
            <p>please wait...</p>
            <div class="pulse"></div>


            </div>
         </div>
      </div>
      <!--End Preloader-->


      <!--Header-->
      <header class="header_v1">
         <!--Header-v1--->
         <section class="navbar_outer">
            <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide">
               <div class="container">
                  <a class="navbar-brand" href="/"><img src="{% static "assets/image/logo.png" %}" class="logo" alt="img"></a>
                  <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                  <div class="collapse navbar-collapse scroll-nav">
                     <ul class="navbar-nav navbar-mobile navbar_left  ml-auto" id="navbarnav">

                        <li class="nav-item home  nav_item drop_down">
                           <a class="nav-link link_hd" href="/"> <i class="linearicons-home4 home_icon"></i> Homepage </a>
                        </li>
<!--
                        <li class="nav-item home  nav_item drop_down">
                           <a class="nav-link link_hd" href="/database"> <i class="fas fa-database"></i> Database </a>
                        </li>
-->
                        <li class="nav-item home  nav_item drop_down">
                           <a class="nav-link link_hd " href="/about"> <i class="fas fa-info-circle"></i> About Tool </a>
                        </li>


                     </ul>
                     <ul class="navbar-nav navbar-mobile navbar_right">

                        <li><a class="theme_btn tp_two about_tool_link" href="#"><span class="linearicons-calendar-text icon"></span>Contact</a></li>
                     </ul>
                  </div>

               </div>
            </div>
            <!--Header-v1-end-->
         </section>
      </header>
      <!--Header-->



