{% load static %}
{% include 'header.html' %}

<main class="main-content">
    <!------main-content------>
    <!-------slider--section------>
    <section class="banner type_two" style="background:url('{% static "assets/image/bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex  pr_0">
                    <div class="content_outer">
                        <div class="inner_box">
                            <h5 class="wow slideInLeft" data-wow-delay="000ms" data-wow-duration="000ms">dcNA: Differential
                                Co-Expression Network Analysis</h5>
                            <h6 class="wow slideInLeft" data-wow-delay="000ms" data-wow-duration="000ms"> fully
                                integrated with cytoscape
                            </h6>
                        </div>
                        <div class="symptoms_checker_form type_one wow fadeInLeft" data-wow-delay="0ms"
                             data-wow-duration="000ms">


                            <form action="analyze" method="post" enctype="multipart/form-data"
                                  class="needs-validation" id="do_analyze">

                                {% csrf_token %}
                                <input type="hidden" name="status_hash" value="{{ status_hash }}" id="status_hash" >

                                <div class="row">


                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group first_box">
                                            <h2>Input File</h2>
                                            <input type="file" name="input_excel"
                                                   placeholder="Excel File" required/>

                                            <div class="invalid-feedback">This field is required.</div>
                                            <div class="text-danger">{{ form.input_excel.errors }}</div>

                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group clearfix second_group">

                                            <h2>Control Number </h2>
                                            <input type="text" name="healthy_sample"
                                                   placeholder="Number of healthy samples"/>

                                            <div class="invalid-feedback">This field is required.</div>
                                            <div class="text-danger">{{ form.healthy_sample.errors }}</div>

                                        </div>
                                    </div>


                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <button class="theme_btn tp_two " type="submit" id="start_analyze_button">
                                                Start Analyze
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image_box wow slideInDown" data-wow-delay="000ms" data-wow-duration="000ms">

                        <div class="row">
                            <div class="col-md-12 index_right_area">
                                <div class="content_outer col-lg-12 pt-5">
                                    <div class="inner_box">
                                        <h4>How to use it?</h4>
                                        <h6>What is Lorem Ipsum?</h6>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book.</p>

                                        <h6>Why do we use it?</h6>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book.</p>

                                    </div>
                                </div>
                            </div>
                        </div>



                      {% if form.errors %}


                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <p> {{ field.name }} : {{ error }} </p>
                                                {% endfor %}
                                            {% endfor %}


                            {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </section>


{% include 'footer.html' %}